body {
  text-align: center;
}

#title {
  font-family: 'Alkatra', cursive;
}

.mainBox {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  width: 300px;
  margin: auto;
}

#result {
  font-family: 'Alkatra', cursive;

}

.cell {
  font-size: 60px;
  font-family: 'Alkatra', cursive;
}